.resources-container {
  text-align: center;
  padding: 50px;
  height: 100vh;
  border-top: 1px solid #000;
  background: linear-gradient(to right, #6a11cb, #2575fc);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 20px;
  margin-top: 20px;
}
